p{
    background: #fdebaa; color: #0767c4
}
h1{
    background: #fdd420; color: #0673b0
}
h2{
    background: #fdd420; color: #0101a4
}
h3{
    background: #badcf6; color: #006fab
}
ul{
    background: #fdebaa; color: #0767c4
}